// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  max-width: 1500px;
  margin: auto !important;
}

.margin-bottom {
  margin-bottom: 105px;
}

.border-radius {
  border-radius: 4px;
}

@media screen and (max-width:640px) {
  .footer {
    height: 135px;
    flex-direction: column;
    padding: 23px 0;
  }
  .footer-links {
    margin-top: -5px;
  }
  .card-hover {
    z-index: 999;
  }
  .effect-css {
    height: 0px;
  }
  .effect-css-two {
    background-image: none !important;
    color: $blue;
    margin-bottom: 40px !important;
    border: 1px solid $blue;
    border-radius: 4px;
    height: 420px;
  }

  .margin-ref-analyse {
    margin-top: 60px !important;
  }
  .article-monde {
    margin-left: 0 !important;
  }
  .banner-produit {
    margin: 5px 50px 0px 50px !important;
  }
}
