// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  max-width: 1500px !important;
  margin: auto !important;
  overflow: hidden;
}

.margin-bottom {
  margin-bottom: 105px;
}

.margin-top {
  margin-top: 10vh !important;
}

.border-radius {
  border-radius: 4px;
}

.cookieinfo-close {
  background : 'white' !important;
  color : '#172A3A' !important;
}

@media screen and (max-width:640px) {
  .footer {
    height: 135px;
    flex-direction: column;
    padding: 23px 0;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer-links {
    margin-top: -5px;
  }
  .card-hover {
    z-index: 999;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .effect-css {
    height: 0px;
  }
  .effect-css-two {
    background-image: none !important;
    color: $blue;
    margin-bottom: 40px !important;
    height: 420px;
  }

  .margin-ref-analyse {
    margin-top: 10px !important;
  }
  .article-monde {
    margin-left: 0 !important;
  }
  .banner-produit {
    margin: 5px 50px 0px 50px !important;
  }

  .banner {
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 40px;
      margin: 0px 5px;
    }
  }
  .locked {
    font-size: 24px;
  }

  .banner-produit h3 {
    font-size: 16px;
  }

  .surlign h2 {
    font-size: 20px;
  }

  .text-presentation-projet p {
    font-size: 16px;
    text-align: left;
  }

  #chiffres {
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 20px;
    }
  }

  .articles h1 {
    font-size: 24px;
  }

  .title-description-article {
    h2 {
      font-size: 24px;
    }

    p{
      font-size: 16px;
      text-align: left;
    }
  }

  .article-title-descr-date {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 16px;
    }
  }

  .article {
    h4 {
      font-size: 16px;
    }

    h3 {
      font-size: 20px;
      text-align: left;
    }

    p {
      font-size: 16px;
      text-align: left;
    }
  }

  .card {
    &:hover {
      margin-top: none !important;
    }
  }

  .prods h1 {
    font-size: 24px !important;
  }
}
