.card-partenaires {
  background-size: cover !important;
  background-position: center;
  color: white;
  height: 200px;
  position: relative;
  border-radius: 4px;
  margin: 60px 0px 40px 0px;
  transition: 0.5s ease;
  z-index: 200;
  background-color: white;
  h2 {
    position: absolute;
    bottom: 0px;
    right: 15px;
  }
  &:hover {
    z-index: 0;
  }
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  margin: 60px 15px 40px 15px;
  background: $gray;
  border-radius: 4px;
  z-index: 100;
  color: white;
  transition: 0.5s ease;
  text-align: center !important;
  h3 {
    margin-top: 60px;
  }
  &:hover {
    z-index: 400;
  }
}
