.caracteristic-product {
  padding: 20px;
  p {
    text-align: justify;
  }
}

.surlign {
  h2 {
    border-radius: 2px;
    background: $blue;
    color: white;
    padding: 5px 15px;
    font-size: 32px;
    margin-top: 80px;
  }
}
