---
title: Createch - Top 3 conseils Cybersécurité des entreprises PME - PMI - ETI

description: Createch vous propose un top 3 conseils pour votre entreprise en cybersécurité contre la cybercriminalité : cyberattaques, virus, malwares, ransonwares.
---

<div class="row margin-top">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <div class="article-title-descr-date z-depth-1 bord-padd">
      <h1>3 conseils pour protéger son entreprise de la Cybercriminalité</h1>
      <h2>CREATECH, société d'ingénierie conseil en sécurité informatique situé à Paris.</h2>
      <h3>Publié le Lundi 7 Janvier 2019</h3>
      <%= image_tag "https://cdn.pixabay.com/photo/2018/04/22/22/57/hacker-3342696_960_720.jpg",class:"z-depth-1"%>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <div class="article z-depth-1 bord-padd">
      <h4>La cybercriminalité est l’enjeux pour les entreprises du XXIème siècle. 79% des entreprises ont estimées être susceptible de cyber-attaques. Parmi ces attaques, 3 se démarques le plus de par leurs nombres : demande de rançon, attaque virale général et vol ou fuite d’informations. CREATECH vous propose 3 solutions pour sécuriser votre entreprise.</h4>
      <h3>1)  Effectuer toutes les mise à jour d’OS : Mac, Windows, Linux etc.</h3>
      <p>Mettre à jour régulièrement son système d’exploitation est primordial pour diminuer les risques de failles sur vos appareils informatiques. À ce jour de nombreux services publics utilisent toujours la version de Windows : Windows XP. Cette version de Windows comporte une multitude de failles de sécurité exploitable par les « hackers ».<br>
      <br>
      Les mises à jour ne consistent pas seulement à ajouter de nouvelles fonctionnalités, elles permettent la mise à jour des failles de sécurité par les développeurs de l’OS.</p>
      <h3>2)  Vérifier l’adresse mail de l’envoyeur avant de cliquer sur un lien</h3>
      <p>
        L’une des méthodes les plus utilisées par les « Hackers » est l’hacking mailing. L’hacking mailing consiste à envoyer un mail à de nombreuses personnes en se faisant passer pour un établissement connu comme : banque, amazone, sécurité sociale etc.<br>
        Après avoir lu le mail ressemblant à un potentiel mail des enseignes cité ci-dessus, un lien vous sera proposé ou il vous sera demandé d’ouvrir un fichier.<br>
        <br>
        Ce lien ou ce fichier pourront contenir des virus ou des faux sites qui récupèreront vos identifiant. Afin de contrer cela, il vous suffit simplement de lire l’adresse email de l’envoyeur. Si le nom de l’envoyeur est une adresse mail douteuse, supprimez ou bloquez l’adresse mail :<br>
        <br>
        Faux email Leclerc :
      </p>
      <%= image_tag "images/article-img-mails-froduleux.png", class:"z-depth-1"%>
      <h3>3)  Double authentification sur tous les comptes en ligne (réseaux sociaux, banques, logiciel administration etc.)  liés à votre entreprise.</h3>
      <p>La double authentification permet de rajouter une couche de sécurité supplémentaire à un mot de passe. Cela consiste à ajouter un numéro de téléphone pour confirmer l’accès de vos appareils. Lors de la connexion de l’un de vos appareils, la confirmation par téléphone vous permettra d’éviter un « hack » de votre compte.<br>
      <br>
      Ce moyen de sécurité est utilisé chez Twitter et Facebook par exemple et est très efficace.
      </p>
      <h3>Pour aller plus loin</h3>
      <p>CREATECH propose un service en sécurité informatique pour les entreprises françaises. Basé sur sa nouvelle technologie de test de sécurité, elle propose en 2h au seins de votre entreprise un diagnostic et compte rendu de l’état des failles de sécurité de vos appareils informatique. Ce service vous coutera seulement 500€.</p>
    </div>
  </div>
</div>
