<div class="row" id="article">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="articles z-depth-1 text-center">
      <h1>Blog Cybersécurité, sécurité informatique et RSSI</h1>
    </div>
  </div>
  <% link_to "3-conseils-Cybercriminels-Cyberattaques", class:"btn-article" do %>
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
      <div class="img-article">
        <%= image_tag "https://www.stockvault.net/data/2017/05/24/236600/preview16.jpg" %>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-0">
      <div class="title-description-article">
        <h2>CREATECH : 3 conseils pour se protéger des Cybercriminels, Cyberattaques</h2>
        <p>La cybercriminalité est l’enjeux pour les entreprises du XXIème siècle. 79% des entreprises ont estimées être susceptible de cyber-attaques. Parmi ces attaques, 3 se démarques le plus de par leurs nombres : demande de rançon, attaque virale général et vol ou fuite d’informations. CREATECH vous propose 3 solutions pour sécuriser votre entreprise.</p>
      </div>
    </div>
  <% end %>
</div>
