<div class="banner">
  <div class="scaroussel">
    <div class="scaroussel--image js-caroussel is-visible">
      <img src="https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/91/28578b9cd95cd6b.jpg">
    </div>
    <div class="scaroussel--image js-caroussel">
      <img src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </div>
    <div class="scaroussel--image js-caroussel">
      <img src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </div>
      <!-- Additional required wrapper -->
  </div>
  <!-- Thanks www.pngtree.com -->
  <div class="banner-content">
    <p id="name-banner">Createch Ingénierie</p>
    <h1 id="title-h1-banner">Sécurité informatique, Cybersécurité, RSSI pour PME - PMI - ETI</h1>
    <%= link_to "produits & services", "/produit.html", class:"btn btn-danger" %>
  </div>
</div>
