<div class="banner z-depth-5" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://cdn.pixabay.com/photo/2016/03/25/02/11/abstract-1278069_960_720.jpg');">
  <div class="banner-content">
    <h1>Createch Ingénierie</h1>
    <p>Sécurité informatique PME - PMI - ETI</p>
    <%= link_to "produits", "/produit.html", class:"btn btn-danger" %>
  </div>
</div>
