---
title: Createch - Blog Cybersécurité

description: Blog Cybersécuritéactualité sécurité informatique, cybersécurité, RSSI et cybercriminalité
---

<div class="row padding-reference margin-top">
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires " style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://upload.wikimedia.org/wikipedia/commons/0/01/RATP.svg');">
      <h2>RATP</h2>
    </div>
    <div class="card-hover">
      <h3>Analyse des risques</h3>
      <p>Projet de renouvellement des infrastructures Télécoms en Ile de France RATP. </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires " style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://www.sevres.fr/wp-content/uploads/2014/11/sncf-logo-2014-720x340.jpg');">
      <h2>SNCF</h2>
    </div>
    <div class="card-hover">
      <h3>Pré-études radio NExT</h3>
      <p>Expertise technique pour la partie réseau et radio  STD (DCS): Système de transmission de données SNCF.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires " style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Logo-Eurotunnel.jpg');">
      <h2>EUROTUNNEL</h2>
    </div>
    <div class="card-hover">
      <h3>Projet Eurotunnel</h3>
      <p>Expertise et mesures radio pour le déploiement du GSM et GSM-R: étude de propagation dans la gamme 400-2200 MHz et plan de déploiement des antennes.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires " style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://upload.wikimedia.org/wikipedia/commons/4/4a/Seventh_Framework_Programme.PNG');">
      <h2>SEVEN</h2>
    </div>
    <div class="card-hover">
      <h3>Projet Marathon</h3>
      <p>Partenariat avec Seven pour l'expertise radio et l'architecture des systèmes sécuritaire communicant.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="text-presentation-projet z-depth-2">
      <p>
        Notre spécialité : l’étude, la réalisation et l'intégration des systèmes électroniques pour la sécurité et la mobilité. CREATECH propose de fournir ou d’accompagner ses clients dans la mise en place de solutions complètes clefs en main, en agissant d’un bout à l’autre du projet, de l’étude de faisabilité jusqu’au maintien en condition opérationnelle, en passant par les phases de la conception, de réalisation, de validation et de mise en service des systèmes, des liaisons par satellite, de l’intégration des systèmes électroniques, des systèmes d’information fixes et embarqués, des énergies renouvelables, des télécommunications.
      </p>
    </div>
  </div>
</div>

<div class="effect-css-two" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('/images/paralax-two.png');">
  <div class="row" id="chiffres">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>Quelques chiffres 2017</h2>
      <h3>
        <i class="far fa-calendar-alt"></i>
        25 ans d'expertises dans les systèmes d'informations
      </h3>
      <h3>
        <i class="fas fa-lock"></i>
        20 ans d'expertise dans la cybersécurité
      </h3>
      <h3>
        <i class="fab fa-hackerrank"></i>
        53% des fraudes en cybercriminalité
        <br>
        vol données bancaires - brevets - plans stratégiques
        <a href="https://www.lemonde.fr/economie/article/2016/03/07/les-entreprises-francaises-sont-des-cibles-faciles-pour-les-cybercriminels_4877681_3234.html" target="_blank">
          <i class="far fa-newspaper article-monde"></i>
        </a>
      </h3>
    </div>
  </div>
</div>

<%= partial 'articles' %>
