<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.linkedin.com/company/createch-ingenierie/" title="lien linkedin"><i class="fab fa-linkedin"></i></a>
    <p>contact@createch.com</p>
  </div>
  <div class="footer-copyright">
    © 2018 Copyright: CREATECH - CERONTECH®
  </div>
</div>
