<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">
      <i class="fas fa-lock"></i>
      Produits Createch
    </h1>
  </div>
  <div class="col-xs-12  col-sm-6 col-md-4">
    <div class="card" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
      <div class="card-category">Createch</div>
      <div class="card-description">
        <h2>Atalaïa</h2>
        <p>Logiciel cybersécurité</p>
      </div>
      <div class="logo">
        <img src="/images/LCreaB.png">
      </div>
      <a class="card-link" href="#atalaia" ></a>
    </div>
  </div>
  <div class="col-xs-12  col-sm-6 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/images/cpl.jpg');">
      <div class="card-category">Createch - Cerontech</div>
      <div class="card-description">
        <h2>CPL</h2>
        <p>Télécommunication</p>
      </div>
      <div class="logo">
        <img src="/images/LCreaB.png">
      </div>
      <a class="card-link" href="#cpl" ></a>
    </div>
  </div>
  <div class="col-xs-12  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/images/video.jpg');">
      <div class="card-category">Createch - Cerontech</div>
      <div class="card-description">
        <h2>Vidéo Surveillance</h2>
        <p>Sécurité</p>
      </div>
      <div class="logo">
        <img src="/images/LCreaB.png">
      </div>
      <a class="card-link" href="#video" ></a>
    </div>
  </div>
</div>

<div class="surlign">
  <h2 id="atalaia">Atalaïa - (Prochainement)</h2>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6">
    <p class="z-depth-2 caracteristic-product">
    Système automatisé de test, d’audit et de pentest pour la sécurité des systèmes d’information de PME-PMI
    Ce produit permet aux entreprises d’agir sur leur système d’information pour se protéger, d’anticiper et de répondre aux cyberattaques
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="text-center">
      <img src="https://images.pexels.com/photos/289927/pexels-photo-289927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Altalaïa" width="300" class="z-depth-1">
    </div>
  </div>
</div>

<div class="surlign">
  <h2 id="cpl">Boitiers CPL</h2>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="text-center">
      <img src="/images/CPL.png" alt="cpl" width="150" class="z-depth-1 img-shadow">
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="caracteristic-product">
      <ul class="z-depth-2">
        <li>Technologies</li>
        <li>TETRA / TETRAPOL Wifi</li>
        <li>Wimax - INFINET</li>
        <li>Systèmes PtP / PtMP dédiés</li>
      </ul>
      <ul class="z-depth-2">
        <li>Protocoles</li>
        <li>L2 : CSMA/TDMA</li>
        <li>L3 : Routage, QoS et sécurité</li>
        <li>Intégration pile complète</li>
      </ul>
      <ul class="z-depth-2">
        <li>Propagation</li>
        <li>Modèles : espace libre, LoS, nLoS, Tunnels</li>
      </ul>
      <ul class="z-depth-2">
        <li>Ingénierie déploiement</li>
        <li>Couverture de sites</li>
        <li>Diversité, bilan liaison... Antennes</li>
      </ul>
      <ul class="z-depth-2">
        <li>Mesure</li>
        <li>Préalable et validation</li>
      </ul>
    </div>
  </div>
</div>

<div class="surlign">
  <h2 id="video">Vidéo surveillance</h2>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="caracteristic-product">
      <ul class="z-depth-2">
        <li>Vidéo surveillance</li>
        <li>Acquisition, transmission, <br>enregistrement et implantation sur site</li>
      </ul>
      <ul class="z-depth-2">
        <li>Transmission</li>
        <li>Filaire & radio</li>
        <li>Sélection des paramètres de compression</li>
      </ul>
      <ul class="z-depth-2">
        <li>Traitement vidéo</li>
        <li>Détection intrusions</li>
        <li>Validation portes palières</li>
        <li>Reconnaissance plaques d'immatriculation</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="text-center">
      <img src="/images/Video.png" alt="video-surveillance" width="200" class="z-depth-1 img-shadow">
    </div>
  </div>
</div>
