---
title: Produits Cybersécurité - Createch

description: Createch vous propose des produits et services en sécurité informatique, cybersécurité et télécommunication. Avec son outil de pentest Atalaïa, Createch vous rendra accéssible la sécurité informatique.
---

<div class="row margin-top">
  <div class="col-xs-12 prods">
    <h1 class="text-center" style="margin-top: 45px; margin-bottom: 15px; font-size: 32px;">
      Produits & Services Createch Cybersécurité et Télécommunication
    </h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <div class="card" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
      <div class="card-category">Createch</div>
      <div class="card-description">
        <h2>Athalaïa</h2>
        <p>Service en cybersécurité et RSSI</p>
      </div>
      <div class="logo">
        <img src="/images/LCreaB.png" alt="logo createch blanc">
      </div>
      <a class="card-link" href="#atalaia" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.pexels.com/photos/207574/pexels-photo-207574.jpeg?auto=compress&cs=tinysrgb&h=350');">
      <div class="card-category">Createch - Cerontech</div>
      <div class="card-description">
        <h2>Vidéo Surveillance</h2>
        <p>Produit de sécurité</p>
      </div>
      <div class="logo">
        <img src="/images/LCreaB.png" alt="logo createch blanc">
      </div>
      <a class="card-link" href="#video" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/images/cpl-axial.png');">
      <div class="card-category">Createch - Cerontech</div>
      <div class="card-description">
        <h2>CPL</h2>
        <p>Produit de télécommunication</p>
      </div>
      <div class="logo">
        <img src="/images/LCreaB.png" alt="logo createch blanc">
      </div>
      <a class="card-link" href="#cpl" ></a>
    </div>
  </div>
</div>

<div class="banner-produit z-depth-3">
  <h3 class="text-center">INNOVATION, DYNAMISME, PROFESSIONNALISME & ESPRIT DE PARTENARIAT</h3>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="surlign">
      <h2 id="atalaia">Athalaïa - (Prochainement)</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2 ">
    <img src="https://images.pexels.com/photos/289927/pexels-photo-289927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="cyber-securite" style="width: 100%; border-radius: 2px;">
  </div>
  <div class="col-sm-4">
    <div class="caracteristic-product z-depth-2">
      <p>
      Système automatisé de test, d’audit et de pentest pour la sécurité des systèmes d’information de PME-PMI.
      Ce produit permet aux entreprises d’agir sur leur système d’information pour se protéger, d’anticiper et de répondre aux cyberattaques pour un faible coût.
      Ce logiciel de sécurité informatique, cybersécurité pour les RSSI est à la pointe de la technologie contre la cybercriminalité. Ce logiciel de pentest garantit une sécurité contre les cyberattaques et préconise des conseils pour la sécuritsation de votre entreprise. Ce service est réalisé par les techniciens Createch au sein de votre entreprise pour une durée maximum d'une journée pour un prix entre 500€ et 600€ pour la totalité du service.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="surlign">
      <h2 id="video">Vidéo surveillance</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
    <div class="caracteristic-product z-depth-2">
      <p>La vidéo surveillance s'effectue par acquisition, transmission, enregistrement et implantation sur le site demandé. La transmission est mise en place par radio ou réseau filaire. Des paramètres de compression de la vidéo sont mis en place automatiquement par Createch. Ce traitement vidéo détecte les intrusions, il effectue un travail de reconnaissance de plaques d'immatriculation ainsi que la validation des portes palières dans le métro de la RATP.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="w3-display-container-two mySlidesTwo z-depth-1">
      <div class="img-cpl-video text-center">
        <img src="/images/video-intrusion.jpg" style="width:90%; height:270px;">
      </div>
    </div>
    <div class="w3-display-container-two mySlidesTwo z-depth-1">
      <div class="img-cpl-video text-center">
        <img src="/images/video-reconnaissance.jpg" style="width:90%; height:270px;">
      </div>
    </div>
    <div class="w3-display-container-two mySlidesTwo z-depth-1">
      <div class="img-cpl-video text-center">
        <img src="/images/video-ratp.jpg" style="width:90%; height:270px;">
      </div>
    </div>
    <button class="w3-button w3-display-left w3-black" onclick="plusDivsTwo(-1)">&#10094;</button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivsTwo(1)">&#10095;</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="surlign">
      <h2 id="cpl">Boitiers CPL</h2>
    </div>
  </div>
</div>

<div class="row margin-bottom">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
    <div class="w3-display-container mySlides z-depth-1">
      <div class="img-cpl-video text-center">
        <img src="/images/cpl-axial.png" style="width:65%;">
      </div>
    </div>
    <div class="w3-display-container mySlides z-depth-1">
      <div class="img-cpl-video text-center">
        <img src="/images/cpl-n-axial.png" style="width:65%;">
      </div>
    </div>
    <div class="w3-display-container mySlides z-depth-1">
      <div class="img-cpl-video text-center">
        <img src="/images/cpl-back.png" style="width:52.1%;">
      </div>
    </div>
    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="caracteristic-product z-depth-2">
      <p>Le CPL DS2 a une transmission du signal sur cable coaxial. Un débit allant jusqu'à 200 Mbps pour une portée de 1500 mètres. Les modems CPL permettent de créer une infrastructure de communication pouvant être exploitée pour offrir des services de :</p>
      <ul>
        <li>
          <i class="fas fa-database"></i>
          Données
        </li>
        <li>
          <i class="fas fa-microphone"></i>
          Voix
        </li>
        <li>
          <i class="fas fa-video"></i>
          Vidéo surveillances
        </li>
        <li>
          <i class="fab fa-youtube"></i>
          Distribution de vidéo en HD
        </li>
      </ul>
    </div>
  </div>
</div>



<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

<script>
  var slideIndexTwo = 1;
  showDivsTwo(slideIndexTwo);

  function plusDivsTwo(m) {
    showDivsTwo(slideIndexTwo += m);
  }

  function showDivsTwo(m) {
    var j;
    var z = document.getElementsByClassName("mySlidesTwo");
    if (m > z.length) {slideIndexTwo = 1}
    if (m < 1) {slideIndexTwo = z.length}
    for (j = 0; j < z.length; j++) {
       z[j].style.display = "none";
    }
    z[slideIndexTwo-1].style.display = "block";
  }
</script>
