<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires z-depth-4" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://upload.wikimedia.org/wikipedia/commons/0/01/RATP.svg');">
      <h2>RATP</h2>
    </div>
    <div class="card-hover">
      <h3>Analyse des risques</h3>
      <p>Projet de renouvellement des infrastructures Télécoms en Ile de France. </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires z-depth-4" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://www.sevres.fr/wp-content/uploads/2014/11/sncf-logo-2014-720x340.jpg');">
      <h2>SNCF</h2>
    </div>
    <div class="card-hover">
      <h3>Pré-études radio NExT</h3>
      <p>Expertise technique pour la partie réseau et radio  STD (DCS): Système de transmission de données.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires z-depth-4" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Logo-Eurotunnel.jpg');">
      <h2>EUROTUNNEL</h2>
    </div>
    <div class="card-hover">
      <h3>Projet Eurotunnel</h3>
      <p>Expertise et mesures radio pour le déploiement du GSM et GSM-R: étude de propagation dans la gamme 400-2200 MHz et plan de déploiement des antennes.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="card-partenaires z-depth-4" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,20,20,0.6) 50%), url('https://upload.wikimedia.org/wikipedia/commons/4/4a/Seventh_Framework_Programme.PNG');">
      <h2>SEVEN</h2>
    </div>
    <div class="card-hover">
      <h3>Projet Marathon</h3>
      <p>Partenariat avec Seven pour l'expertise radio et l'architecture des systèmes sécuritaire communicant.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="text-presentation-projet z-depth-2">
      <p>
        Notre spécialité : l’étude, la réalisation et l'intégration des systèmes électroniques pour la sécurité et la mobilité. CREATECH propose de fournir ou d’accompagner ses clients dans la mise en place de solutions complètes clefs en main, en agissant d’un bout à l’autre du projet, de l’étude de faisabilité jusqu’au maintien en condition opérationnelle, en passant par les phases de la conception, de réalisation, de validation et de mise en service des systèmes, des liaisons par satellite, de l’intégration des systèmes électroniques, des systèmes d’information fixes et embarqués, des énergies renouvelables, des télécommunications.
      </p>
    </div>

  </div>
</div>


